/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/*-------Uso General--------*/
.color1
{
  background: red;
}
.app_margen
{
    margin-top: 20px;
    margin-bottom: 20px;
}
/*-------------------------*/

/*------Header------*/
.app_title
{
    margin: 5px;
    font-size: 50px; 
    font-family: 'Tangerine', serif;
    text-shadow: 4px 4px 4px #aaa;
}
.app_header
{
    background: white;
    border-top: 6px solid #eceef1;
}
.app_logo
{
    width: 300px;
}
.app_font1
{
    font-size: 20px;
    margin-top: 30px;
    float: right;
    width: 80px;
}
.app_font2
{
    margin-top: 30px;
    float: left;
    width: 150px;
}
.app_size
{
    font-size: 20px;
}
a:link
{
  text-decoration: none;
}
.app_link
{
  color: black;
}

/*------------------*/




/*------Barra de Navegación------*/
.app_nav
{
   background: #0e7ac4;
   /*background: white;*/
}

/***********************************/
/***************Mayra***************/
/***********************************/
ul
{
    margin: 0;
    padding: 0;
}

.app_ul li
{
    display: inline-block;
    list-style-type: none;
    margin: 10px 40px;
    height: 30px;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
}
.app_ul li .linea_nav{

    background-color: white;
    /*background: #cccccc;*/
    width: 97%;
    margin: 0 auto 15px;
    height: 6px;
}

.app_ul li a{
    letter-spacing: 2px;
    font-weight: 500;
    cursor: pointer;
    color: white;
    /*color: #cccccc;*/
    font-family: 'Duru Sans', sans-serif;
    text-decoration: none;
}

/* Efectos de Pestañas de navegacion*/


/***********************************/
/***********************************/
/***********************************/








/*-------------Slider------------*/
.app_slider
{
    background: #3498DB;
}
.centrar
{
    margin:15px auto;
}
.app_margen1
{
    margin: 20px 53px;
}
.app_input
{
    display: block;
    border: 1px solid #D2D4D6;
    border-radius: 6px;
    margin-bottom: 10px;
    width: 100%;
    padding: 5px;
    font-size: 18px;
}

/****************************/
/*Copy Paste Bootstrap u.U*/
/****************************/
.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.428571429;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
       -o-user-select: none;
          user-select: none;
}
.btn-primary:hover
{
  color: #ffffff;
  background-color: #3276b1;
  border-color: #285e8e;
}
.btn-primary {
  color: #ffffff;
  background-color: #428bca;
  border-color: #357ebd;
}
/****************************/
/****************************/

/*------------------*/


/*-----section mas vendidos------*/
.app_lista1
{
    background: #ECF0f1;
}
h5
{
    margin: 0;
}
.app_centrar
{
    text-align: center;
}
.app_padding
{
    padding-left: 20px;
    padding-right: 20px;
}
/*------------------*/

/*-----section envios------*/
.app_envios
{
    background: #ECF0f1;
}
.app_font3
{
    font-size: 45px;
    margin-top: 30px;
}

/*-------------------------*/

/*-----Footer------*/
.app_footer
{
    background: #0e7ac4;
    font-family: "Avenir", Futura, Helvetica, sans-serif;
    color: white;
    letter-spacing: 2px;
}
/*-------------------------*/


/*********************************************************/
/************************Productos************************/
.app-div1
{
  width: 45px;
  display: inline-block;
  margin-right: 18px;
}
.app-div2
{
  width: 70px;
  display: inline-block;
}
.app_cantidad
{
  width: 100%;
  border-radius: 6px;
}
.app_agregar
{
  width: 100%;
  border-radius: 6px;
  display: inline-block;
  color: #ffffff;
  background-color: #428bca;
  border-color: #357ebd;
}

.app-caja
{
  height: 373px;
}
.app-centrar
{
  padding-left: 150px;
}
.app-size1
{
  font-size: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-family: 'Duru Sans', sans-serif;
}
.app-size2
{
  font-size: 15px;
  color: #555;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-family: 'Duru Sans', sans-serif;
}
.app-size3
{
  font-size: 30px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-family: 'Duru Sans', sans-serif;
  color: #0e7ac4;
}
.app-size4
{
  letter-spacing: 2px;
  font-family: 'Duru Sans', sans-serif;
  text-transform: uppercase;
  color: #0e7ac4;
}
.app-orientar
{
  float: right;
}













/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}