<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">

        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/normalize.min.css">
        <link rel="stylesheet" href="css/main.css">
        <link rel="stylesheet" href="css/fonts.css">

        <script src="js/vendor/modernizr-2.6.2.min.js"></script>
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->

        <header class="app_header">
            <div class="container">
                <div class="row">
                    <div class="col-xs-8">
                        <div class="app_logo">
                            <h1>La Empresa</h1>
                        </div>
                    </div>
                    <div class="col-xs-2">
                        <div class="app_font1">
                            <span class="icon-twitter"></span>
                            <span class="icon-facebook"></span>
                            <span class="icon-google-plus"></span>
                        </div>
                    </div>
                    <div class="col-xs-2">
                        <div class="app_font2">
                            <span class="icon-cart app_size"></span>
                            <span>( 0 ) Productos</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <nav class="app_nav">
            <div class="container">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur, vel, a, eos culpa veritatis maiores fuga aliquam quis sequi repudiandae sunt magni pariatur recusandae praesentium et nisi repellat. Dolorem, quaerat.</div>
        </nav>

        <section class="app_slider">
            <div class="container">
                <div class="row app_margen">
                    <div class="col-xs-8">
                        <img src="img/slider.png" class="img-responsive">
                    </div>
                    <div class="col-xs-4">
                        <div class="centrar">
                            <div class="img-thumbnail">
                                <div class="app_margen1">
                                    <h4>Recibe nuestras ofertas</h4>
                                    <h2>Déjanos tu email!!!</h2>
                                </div>
                                <form class="app_margen1">
                                    <input type="email" name="miemail" id="miemail" placeholder="email" class="app_input">
                                    <input type="submit" value="Enviar" class="btn btn-primary">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="app_lista">
            <div class="container">
                <div class="row app_margen">
                    <div class="col-xs-7">
                        <div class="row">
                            <div class="col-xs-4">
                                <div class="img-thumbnail app_padding">
                                    <div class="app_alinear">
                                        <h5>Nombre</h5>
                                    </div>
                                    <img src="img/Producto1.png" class="img-responsive">
                                    <div class="app_alinear app_centrar">
                                        <h5>S/.20.00 </h5>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-4">
                                <div class="img-thumbnail app_padding">
                                    <div class="app_alinear">
                                        <h5>Nombre</h5>
                                    </div>
                                    <img src="img/Producto1.png" class="img-responsive">
                                    <div class="app_alinear app_centrar">
                                        <h5>S/.20.00 </h5>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-4">
                                <div class="img-thumbnail app_padding">
                                    <div class="app_alinear">
                                        <h5>Nombre</h5>
                                    </div>
                                    <img src="img/Producto1.png" class="img-responsive">
                                    <div class="app_alinear app_centrar">
                                        <h5>S/.20.00 </h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-5">
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="img-thumbnail app_padding">
                                    <div class="app_alinear">
                                        <h5>Nombre</h5>
                                    </div>
                                    <img src="img/Producto1.png" class="img-responsive">
                                    <div class="app_alinear app_centrar">
                                        <h5>S/.20.00 </h5>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="img-thumbnail app_padding">
                                    <div class="app_alinear">
                                        <h5>Nombre</h5>
                                    </div>
                                    <img src="img/Producto1.png" class="img-responsive">
                                    <div class="app_alinear app_centrar">
                                        <h5>S/.20.00 </h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="app_envios">
            <div class="container">
                <div class="row app_margen">
                    <div class="col-xs-4">
                        <div class="row">
                            <div class="col-xs-3">
                                <div class="app_font3">
                                    <span class="icon-truck"></span>
                                </div>
                            </div>
                            <div class="col-xs-9">
                                <h3>¿Me lo envian?</h3>
                                <p>Si!! hacemos envios a todo Trujillo. Muy pronto a nivel Nacional</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <div class="row">
                            <div class="col-xs-3">
                                <div class="app_font3">
                                    <span class="icon-credit"></span>
                                </div>
                            </div>
                            <div class="col-xs-9">
                                <h3>¿Cómo Pago?</h3>
                                <p>Paga con cualquier tarjeta de credito o débito. Compras 100% seguras!.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <div class="row">
                            <div class="col-xs-3">
                                <div class="app_font3">
                                    <span class="icon-mail2"></span>
                                </div>
                            </div>
                            <div class="col-xs-9">
                                <h3>¿Me Ayudan?</h3>
                                <p>Contáctanos enviando un mensaje al correo hola@empresa.com</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="app_lista">
            <div class="container">
                <div class="row app_margen">
                    <div class="col-xs-7">
                        <div class="row">
                            <div class="col-xs-4">
                                <div class="img-thumbnail app_padding">
                                    <div class="app_alinear">
                                        <h5>Nombre</h5>
                                    </div>
                                    <img src="img/Producto1.png" class="img-responsive">
                                    <div class="app_alinear app_centrar">
                                        <h5>S/.20.00 </h5>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-4">
                                <div class="img-thumbnail app_padding">
                                    <div class="app_alinear">
                                        <h5>Nombre</h5>
                                    </div>
                                    <img src="img/Producto1.png" class="img-responsive">
                                    <div class="app_alinear app_centrar">
                                        <h5>S/.20.00 </h5>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-4">
                                <div class="img-thumbnail app_padding">
                                    <div class="app_alinear">
                                        <h5>Nombre</h5>
                                    </div>
                                    <img src="img/Producto1.png" class="img-responsive">
                                    <div class="app_alinear app_centrar">
                                        <h5>S/.20.00 </h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-5">
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="img-thumbnail app_padding">
                                    <div class="app_alinear">
                                        <h5>Nombre</h5>
                                    </div>
                                    <img src="img/Producto1.png" class="img-responsive">
                                    <div class="app_alinear app_centrar">
                                        <h5>S/.20.00 </h5>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="img-thumbnail app_padding">
                                    <div class="app_alinear">
                                        <h5>Nombre</h5>
                                    </div>
                                    <img src="img/Producto1.png" class="img-responsive">
                                    <div class="app_alinear app_centrar">
                                        <h5>S/.20.00 </h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row app_margen">
                    <div class="col-xs-7">
                        <div class="row">
                            <div class="col-xs-4">
                                <div class="img-thumbnail app_padding">
                                    <div class="app_alinear">
                                        <h5>Nombre</h5>
                                    </div>
                                    <img src="img/Producto1.png" class="img-responsive">
                                    <div class="app_alinear app_centrar">
                                        <h5>S/.20.00 </h5>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-4">
                                <div class="img-thumbnail app_padding">
                                    <div class="app_alinear">
                                        <h5>Nombre</h5>
                                    </div>
                                    <img src="img/Producto1.png" class="img-responsive">
                                    <div class="app_alinear app_centrar">
                                        <h5>S/.20.00 </h5>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-4">
                                <div class="img-thumbnail app_padding">
                                    <div class="app_alinear">
                                        <h5>Nombre</h5>
                                    </div>
                                    <img src="img/Producto1.png" class="img-responsive">
                                    <div class="app_alinear app_centrar">
                                        <h5>S/.20.00 </h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-5">
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="img-thumbnail app_padding">
                                    <div class="app_alinear">
                                        <h5>Nombre</h5>
                                    </div>
                                    <img src="img/Producto1.png" class="img-responsive">
                                    <div class="app_alinear app_centrar">
                                        <h5>S/.20.00 </h5>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="img-thumbnail app_padding">
                                    <div class="app_alinear">
                                        <h5>Nombre</h5>
                                    </div>
                                    <img src="img/Producto1.png" class="img-responsive">
                                    <div class="app_alinear app_centrar">
                                        <h5>S/.20.00 </h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row app_margen">
                    <div class="col-xs-7">
                        <div class="row">
                            <div class="col-xs-4">
                                <div class="img-thumbnail app_padding">
                                    <div class="app_alinear">
                                        <h5>Nombre</h5>
                                    </div>
                                    <img src="img/Producto1.png" class="img-responsive">
                                    <div class="app_alinear app_centrar">
                                        <h5>S/.20.00 </h5>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-4">
                                <div class="img-thumbnail app_padding">
                                    <div class="app_alinear">
                                        <h5>Nombre</h5>
                                    </div>
                                    <img src="img/Producto1.png" class="img-responsive">
                                    <div class="app_alinear app_centrar">
                                        <h5>S/.20.00 </h5>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-4">
                                <div class="img-thumbnail app_padding">
                                    <div class="app_alinear">
                                        <h5>Nombre</h5>
                                    </div>
                                    <img src="img/Producto1.png" class="img-responsive">
                                    <div class="app_alinear app_centrar">
                                        <h5>S/.20.00 </h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-5">
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="img-thumbnail app_padding">
                                    <div class="app_alinear">
                                        <h5>Nombre</h5>
                                    </div>
                                    <img src="img/Producto1.png" class="img-responsive">
                                    <div class="app_alinear app_centrar">
                                        <h5>S/.20.00 </h5>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="img-thumbnail app_padding">
                                    <div class="app_alinear">
                                        <h5>Nombre</h5>
                                    </div>
                                    <img src="img/Producto1.png" class="img-responsive">
                                    <div class="app_alinear app_centrar">
                                        <h5>S/.20.00 </h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <footer class="app_footer">
            <div class="container">
                <h4>Derechos reservados @2014 Qaysen</h4>
            </div>
        </footer>

        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.10.1.min.js"><\/script>')</script>

        <script src="js/main.js"></script>
    </body>
</html>
