{% extends "base.html" %}

    {% block content %}

        <section class="app_descripcion">
            <div class="container">
                <div class="row app_margen app-caja">
                    <div class="col-xs-6 app-centrar">
                        <img src="{{MEDIA_URL}}{{producto.img}}" class="img-responsive">
                    </div>
                    <div class="col-xs-6">
                        <div>
                            <span class="app-size1">{{producto.nombre}}</span><br>
                            <span class="app-size2">Stock: {{producto.stock}}</span><br>
                            <span class="app-size3">s/. {{producto.precio}}</span>
                            <p class="app-size4">Descripción</p><hr>
                            {% for detalle in caracteristicas %}
                                <span>{{detalle.caracteristica}} : {{detalle.nombre}}</span><br>
                            {% endfor %}

                        </div>
                        <div class="app-orientar">
                            {% if producto.stock > 0 %}
                                {% csrf_token %}
                                <div class="app-div1">
                                    <input type="text" name="cantidad" id="cantidad" class="app_cantidad">
                                </div>
                                <div class="app-div2">
                                    <button class="carrito app_agregar" id="agregar" value="{{producto.id}}">Añadir</button>
                                </div>
                            
                              {% endif %} 

                        </div>
                    </div>
                </div>
            </div>
        </section>

    {% endblock %}

    {% block script %}
<script >
$(document).on("ready", inicio);

function inicio()
{
   $(".carrito").on("click",añadircarrito);
}
function añadircarrito()
{
    var cantidad = $("#cantidad").val();
    var producto_id=$(this).val();
    
    console.log(cantidad)
    console.log(producto_id)

      $.ajax({
        data:{'producto_id':producto_id,'cantidad':cantidad},
        type:"post",
        url:'/ajax_carrito/',
        success: function (data)
        {
         console.log(data)
        }
      });
    
}


</script>
{% endblock %}

