{% extends "base.html" %}

    {% block content %}

        <section class="app_descripcion">
            <div class="container">
                <div class="row app_margen">
                    <div class="col-xs-6">
                        <img src="{{STATIC_URL}}img/productos.png" class="img-responsive">
                    </div>
                    <div class="col-xs-6">
                        <span class="app-size1">Cuadernos Standford</span><br>
                        <span class="app-size2">Stock: 21</span><br>
                        <span class="app-size3">s/. 7.00</span>
                        <p class="app-size4">Descripción</p><hr>
                        <span>Color:Rojo</span><br>
                        <span>Tipo: Cuadriculado</span><br>
                        <span>Contenido: 100 hojas</span>
                    </div>
                </div>
            </div>
        </section>

    {% endblock %}

