{% extends "base.html" %}

    {% block content %}

        <section class="app_descripcion">
            <div class="container">
                <div class="row">
                    <div class="col-xs-8">
                        <img src="{{STATIC_URL}}img/productos.png" class="img-responsive">
                    </div>
                    <div class="col-xs-4">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos, iure ut odit eligendi eveniet quae distinctio molestias fugit beatae harum ex inventore et aliquid culpa libero dolorem nemo alias nisi.
                    </div>
                </div>
            </div>
        </section>

    {% endblock %}

