{% extends "base.html" %}

{% block title %}La Empresa{% endblock %}

        {% block content %}

            <section class="app_slider">
                <div class="container">
                    <div class="row app_margen">
                        <div class="col-xs-8">
                            <img src="{{STATIC_URL}}img/slider.png" class="img-responsive">
                        </div>
                        <div class="col-xs-4">
                            <div class="centrar">
                                <div class="img-thumbnail">
                                    <div class="app_margen1">
                                        <h4>Recibe nuestras ofertas</h4>
                                        <h2>Déjanos tu email!!!</h2>
                                    </div>
                                    <form class="app_margen1">
                                        <input type="email" name="miemail" id="miemail" placeholder="email" class="app_input">
                                        <input type="submit" value="Enviar" class="btn btn-primary">
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="app_lista1">
                <div class="container">
                    <div class="row app_margen">
                        <div class="col-xs-7">
                            <div class="row">
                                <div class="col-xs-4">
                                    <div class="img-thumbnail app_padding">
                                        <div class="app_alinear">
                                            <h5>Nombre</h5>
                                        </div>
                                        <img src="img/Producto1.png" class="img-responsive">
                                        <div class="app_alinear app_centrar">
                                            <h5>S/.20.00 </h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-4">
                                    <div class="img-thumbnail app_padding">
                                        <div class="app_alinear">
                                            <h5>Nombre</h5>
                                        </div>
                                        <img src="img/Producto1.png" class="img-responsive">
                                        <div class="app_alinear app_centrar">
                                            <h5>S/.20.00 </h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-4">
                                    <div class="img-thumbnail app_padding">
                                        <div class="app_alinear">
                                            <h5>Nombre</h5>
                                        </div>
                                        <img src="img/Producto1.png" class="img-responsive">
                                        <div class="app_alinear app_centrar">
                                            <h5>S/.20.00 </h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-5">
                            <div class="row">
                                <div class="col-xs-6">
                                    <div class="img-thumbnail app_padding">
                                        <div class="app_alinear">
                                            <h5>Nombre</h5>
                                        </div>
                                        <img src="img/Producto1.png" class="img-responsive">
                                        <div class="app_alinear app_centrar">
                                            <h5>S/.20.00 </h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    <div class="img-thumbnail app_padding">
                                        <div class="app_alinear">
                                            <h5>Nombre</h5>
                                        </div>
                                        <img src="img/Producto1.png" class="img-responsive">
                                        <div class="app_alinear app_centrar">
                                            <h5>S/.20.00 </h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="app_envios">
                <div class="container">
                    <div class="row app_margen">
                        <div class="col-xs-4">
                            <div class="row">
                                <div class="col-xs-3">
                                    <div class="app_font3">
                                        <span class="icon-truck"></span>
                                    </div>
                                </div>
                                <div class="col-xs-9">
                                    <h3>¿Me lo envian?</h3>
                                    <p>Si!! hacemos envios a todo Trujillo. Muy pronto a nivel Nacional</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <div class="row">
                                <div class="col-xs-3">
                                    <div class="app_font3">
                                        <span class="icon-credit"></span>
                                    </div>
                                </div>
                                <div class="col-xs-9">
                                    <h3>¿Cómo Pago?</h3>
                                    <p>Paga con cualquier tarjeta de credito o débito. Compras 100% seguras!.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <div class="row">
                                <div class="col-xs-3">
                                    <div class="app_font3">
                                        <span class="icon-mail2"></span>
                                    </div>
                                </div>
                                <div class="col-xs-9">
                                    <h3>¿Me Ayudan?</h3>
                                    <p>Contáctanos enviando un mensaje al correo hola@empresa.com</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="app_lista2">
                <div class="container">
                    <div class="row app_margen">
                        <div class="col-xs-7">
                            <div class="row">
                                <div class="col-xs-4">
                                    <div class="img-thumbnail app_padding">
                                        <div class="app_alinear">
                                            <h5>Nombre</h5>
                                        </div>
                                        <img src="img/Producto2.png" class="img-responsive">
                                        <div class="app_alinear app_centrar">
                                            <h5>S/.20.00 </h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-4">
                                    <div class="img-thumbnail app_padding">
                                        <div class="app_alinear">
                                            <h5>Nombre</h5>
                                        </div>
                                        <img src="img/Producto2.png" class="img-responsive">
                                        <div class="app_alinear app_centrar">
                                            <h5>S/.20.00 </h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-4">
                                    <div class="img-thumbnail app_padding">
                                        <div class="app_alinear">
                                            <h5>Nombre</h5>
                                        </div>
                                        <img src="img/Producto2.png" class="img-responsive">
                                        <div class="app_alinear app_centrar">
                                            <h5>S/.20.00 </h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-5">
                            <div class="row">
                                <div class="col-xs-6">
                                    <div class="img-thumbnail app_padding">
                                        <div class="app_alinear">
                                            <h5>Nombre</h5>
                                        </div>
                                        <img src="img/Producto2.png" class="img-responsive">
                                        <div class="app_alinear app_centrar">
                                            <h5>S/.20.00 </h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    <div class="img-thumbnail app_padding">
                                        <div class="app_alinear">
                                            <h5>Nombre</h5>
                                        </div>
                                        <img src="img/Producto2.png" class="img-responsive">
                                        <div class="app_alinear app_centrar">
                                            <h5>S/.20.00 </h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row app_margen">
                        <div class="col-xs-7">
                            <div class="row">
                                <div class="col-xs-4">
                                    <div class="img-thumbnail app_padding">
                                        <div class="app_alinear">
                                            <h5>Nombre</h5>
                                        </div>
                                        <img src="img/Producto3.png" class="img-responsive">
                                        <div class="app_alinear app_centrar">
                                            <h5>S/.20.00 </h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-4">
                                    <div class="img-thumbnail app_padding">
                                        <div class="app_alinear">
                                            <h5>Nombre</h5>
                                        </div>
                                        <img src="img/Producto3.png" class="img-responsive">
                                        <div class="app_alinear app_centrar">
                                            <h5>S/.20.00 </h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-4">
                                    <div class="img-thumbnail app_padding">
                                        <div class="app_alinear">
                                            <h5>Nombre</h5>
                                        </div>
                                        <img src="img/Producto3.png" class="img-responsive">
                                        <div class="app_alinear app_centrar">
                                            <h5>S/.20.00 </h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-5">
                            <div class="row">
                                <div class="col-xs-6">
                                    <div class="img-thumbnail app_padding">
                                        <div class="app_alinear">
                                            <h5>Nombre</h5>
                                        </div>
                                        <img src="img/Producto3.png" class="img-responsive">
                                        <div class="app_alinear app_centrar">
                                            <h5>S/.20.00 </h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    <div class="img-thumbnail app_padding">
                                        <div class="app_alinear">
                                            <h5>Nombre</h5>
                                        </div>
                                        <img src="img/Producto3.png" class="img-responsive">
                                        <div class="app_alinear app_centrar">
                                            <h5>S/.20.00 </h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row app_margen">
                        <div class="col-xs-7">
                            <div class="row">
                                <div class="col-xs-4">
                                    <div class="img-thumbnail app_padding">
                                        <div class="app_alinear">
                                            <h5>Nombre</h5>
                                        </div>
                                        <img src="img/Producto4.png" class="img-responsive">
                                        <div class="app_alinear app_centrar">
                                            <h5>S/.20.00 </h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-4">
                                    <div class="img-thumbnail app_padding">
                                        <div class="app_alinear">
                                            <h5>Nombre</h5>
                                        </div>
                                        <img src="img/Producto4.png" class="img-responsive">
                                        <div class="app_alinear app_centrar">
                                            <h5>S/.20.00 </h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-4">
                                    <div class="img-thumbnail app_padding">
                                        <div class="app_alinear">
                                            <h5>Nombre</h5>
                                        </div>
                                        <img src="img/Producto4.png" class="img-responsive">
                                        <div class="app_alinear app_centrar">
                                            <h5>S/.20.00 </h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-5">
                            <div class="row">
                                <div class="col-xs-6">
                                    <div class="img-thumbnail app_padding">
                                        <div class="app_alinear">
                                            <h5>Nombre</h5>
                                        </div>
                                        <img src="img/Producto4.png" class="img-responsive">
                                        <div class="app_alinear app_centrar">
                                            <h5>S/.20.00 </h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    <div class="img-thumbnail app_padding">
                                        <div class="app_alinear">
                                            <h5>Nombre</h5>
                                        </div>
                                        <img src="img/Producto4.png" class="img-responsive">
                                        <div class="app_alinear app_centrar">
                                            <h5>S/.20.00 </h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

        {% endblock %}

        

    