{% extends "base.html" %}

{% block title %}La Empresa{% endblock %}

        {% block content %}

            <section class="app_slider">
                <div class="container">
                    <div class="row app_margen">
                        <div class="col-xs-8">

                            <div class="banner">
                                <ul>
                                    <li style="background-image:url({{STATIC_URL}}img/slider1.png);"></li>
                                    <li style="background-image:url({{STATIC_URL}}img/slider2.png);"></li>
                                    <li style="background-image:url({{STATIC_URL}}img/slider3.png);"></li>
                                </ul>
                            </div>
                            

                        </div>

                        <div class="col-xs-4">

                                <div class="img-thumbnail centrar" id = "ventana-mensaje">
                                    <div class="app_margen1">
                                        <span>Recibe nuestras ofertas</span>
                                        <p class="app-correo" >Déjanos tu email!!!</p>
                                    </div>
                                    <div class="app_margen1">
                                        <input type="email" name="miemail" id="miemail" placeholder="email" class="app_input">
                                        <input type="text" name="nombre" id="text_nombre" placeholder="nombre" class="app_input">
                                        <button id="suscribirse" class="btn btn-primary" > Enviar </button>
                                    </div>
                                </div>


                        </div>
                    </div>
                </div>
            </section>
            
            <section class="app_lista1">
                <div class="container">
                    <div class="row app_margen">
                        {% for i in productos  %}
                        <div class="col-xs-3">
                            <div class="img-thumbnail app_padding">
                                <div class="app_alinear nombre">
                                    <span>{{i.nombre}}</span>
                                </div>
                                <img src="{{MEDIA_URL}}{{i.img}}" class="img-responsive">
                                <div class="app_alinear color3">
                                    <span class="app-precio"><span>S/. </span>{{i.precio}} </span>
                                    <span class="app-detalle"><a href="/productos/{{i.id}}">ver detalle </a></span>
                                </div>
                            </div>
                        </div>                       
                        {% endfor %}
                    </div>
                </div>   
            </section>



            <section class="app_envios">
                <div class="container">
                    <div class="row app_margen">
                        <div class="col-xs-4">
                            <div class="row">
                                <div class="col-xs-3">
                                    <div class="app_font3">
                                        <span class="icon-truck"></span>
                                    </div>
                                </div>
                                <div class="col-xs-9">
                                    <h3>¿Me lo envian?</h3>
                                    <p>Si!! hacemos envios a todo Trujillo. Muy pronto a nivel Nacional</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <div class="row">
                                <div class="col-xs-3">
                                    <div class="app_font3">
                                        <span class="icon-credit"></span>
                                    </div>
                                </div>
                                <div class="col-xs-9">
                                    <h3>¿Cómo Pago?</h3>
                                    <p>Paga con cualquier tarjeta de credito o débito. Compras 100% seguras!.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <div class="row">
                                <div class="col-xs-3">
                                    <div class="app_font3">
                                        <span class="icon-mail2"></span>
                                    </div>
                                </div>
                                <div class="col-xs-9">
                                    <h3>¿Me Ayudan?</h3>
                                    <p>Contáctanos enviando un mensaje al correo hola@empresa.com</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>



<!-- Iteracion de productos de forma aleatoria    -->
            <section class="app_lista2">
                <div class="container">
                {% for x in otros %}
                    <div class="row app_margen">
                    {% for y in x  %}
                        <div class="col-xs-3">
                            <div class="img-thumbnail app_padding">
                                <div class="app_alinear nombre">
                                     <span>{{y.nombre}}</span>
                                </div>
                                <img src="{{MEDIA_URL}}{{y.img}}" class="img-responsive">
                                <div class="app_alinear detalle">
                                    <span class="app-precio"><span>S/. </span>{{y.precio}}</span>
                                    <span class="app-detalle"><a href="/productos/{{y.id}}">ver detalle </a></span>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    </div>           
                {% endfor %}
                </div>
            </section>

<!-- *********************************************    -->

        {% endblock %}

        

    


{% block script %}


<script>
    $(document).on("ready", setup);
    $(document).on("ready", inicio);
    function setup(){
    $.ajaxSetup({
                beforeSend: function(xhr, settings) {
                function getCookie(name) {
                var cookieValue = null;
                if (document.cookie && document.cookie != '') {
                    var cookies = document.cookie.split(';');
                    for (var i = 0; i < cookies.length; i++) {
                        var cookie = jQuery.trim(cookies[i]);
                        // Does this cookie string begin with the name we want?
                        if (cookie.substring(0, name.length + 1) == (name + '=')) {
                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                            break;
                        }
                    }
                }
                return cookieValue;
                }
                if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
                // Only send the token to relative URLs i.e. locally.
                    xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
                    }
                }
              });
            }

    function inicio(){
        $("#suscribirse").on('click',suscribete);
    }

        function suscribete(){
            var info = $('#miemail').val();

            $.ajax({
            url: "ajax/suscribirse/",
            type: "POST",
            data:{'email':info},
             success: function(data) {
                //$('#ventana-mensaje').html("<div class='app_margen1'>Gracias Porsu Registro </div>");
                 alert("Felicidades gracias por suscribirse");
                 
             },
 
             error: function(data){
                     console.log("Verifica su email o usuario");
             }
           });
         }
 
         </script>

{% endblock %}