{% extends "base.html" %}

{% block estilos %}
    <link rel="stylesheet" href="{{STATIC_URL}}css/utiles.css">
{% endblock %}

{% block title %}Utiles Escolares{% endblock %}

    {% block content %}

        <section class="app_productos">
            <div class="container">
                <div class="row app_margen">
                    
                <!--*************** Navegación Aside - Jhon M. *****************-->
                    <div class="col-xs-3 app-margenProducto">
                        <div id="navi">  
                            <ul class="list_padre">
                                {% for i in datos %}
                                <li class="list"><p class="mi" id='{{i.id}}'>{{i.categoria}} <span class="glyphicon glyphicon-chevron-right sh"></span></p>
                                <ul class=" list_hija">
                                    {% for j in i.sub %}
                                        <li class = 'sub' id= '{{j.id}}'> {{j.nombre}}j </li>
                                        {% empty %}
                                        <li>no hay sub</li>
                                        {% endfor %}
                                </ul>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                <!-- ************************************************************************ -->
               
                    <div class="col-xs-9">
                            {% for k in productos  %}
                            <div class="col-xs-3">
                                <div class="img-thumbnail app_padding app-margenProducto">
                                    <div class="app_alinear">
                                        <h5 >{{k.nombre}}</h5>
                                    </div>
                                    <div class="caja_imagen">
                                        <a href="/productos/{{k.id}}"><img src="{{MEDIA_URL}}{{k.img}}" class="img-responsive img_producto"><span class="info">Ver</span></a>
                                    </div>
                                    
                                    <div class="app_alinear app_centrar">
                                        <h5>{{k.precio}} </h5>
                                        <form action="">
                                            <div class="app-div1">
                                                <input type="text" name="cantidad" id="cantidad" class="app_cantidad">
                                            </div>
                                            <div class="app-div2">
                                                <input type="submit" name="agregar" id="agregar" value="Agregar" class="app_agregar">
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                    </div>
                </div>
            </div>
        </section>

        {% endblock %}
        


{% block script %}

    <script src="{{STATIC_URL}}js/ajax/ajax-productos.js"></script>
    
{% endblock script %}