<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">

        <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Tangerine">
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/normalize.min.css">
        <link rel="stylesheet" href="css/main.css">
        <link rel="stylesheet" href="css/fonts.css">
        <link rel="stylesheet" href="css/productos.css">
        <script src="js/vendor/modernizr-2.6.2.min.js"></script>
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->

        <header class="app_header">
            <div class="container">
                <div class="row">
                    <div class="col-xs-8">
                        <div class="app_logo">
                            <p class="app_title">La Empresa</p>
                        </div>
                    </div>
                    <div class="col-xs-2">
                        <div class="app_font1">
                            <span class="icon-twitter"></span>
                            <span class="icon-facebook"></span>
                            <span class="icon-google-plus"></span>
                        </div>
                    </div>
                    <div class="col-xs-2">
                        <div class="app_font2">
                            <span class="icon-cart app_size"></span>
                            <span>( 0 ) Productos</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <!--Barra de Navegacion - Mayra Reloca XD-->
        <nav class="app_nav">
            <div class="container">
                <ul class="app_ul app_margen">
                    <li class="turquesa click">
                      <div class="activateE">
                        <div class="linea_nav l_activa_empresa"></div>
                        <a href="#" class="app_nav">La Empresa</a>
                      </div>
                    </li>
                    <li class="turquesa click">
                       <div class="activateU">
                        <div class="linea_nav l_activa_escolar"></div>
                        <a href="utiles_escolares.html" class="app_nav">Utiles Escolares</a>
                       </div>
                    </li>
                    <li class="turquesa click">
                       <div class="activateO">
                        <div class="linea_nav l_activa_oficina"></div>
                        <a href="utiles_escolares.html" class="app_nav">Utiles de Oficina</a>
                       </div>
                    </li>
                    <li class="turquesa click">
                       <div class="activateR">
                        <div class="linea_nav l_activa_regalo"></div>
                         <a href="utiles_escolares.html" class="app_nav">Regalos</a>
                       </div>
                    </li>
                    <li class="turquesa click">
                       <div class="activateC">
                        <div class="linea_nav l_activa_contacto"></div>
                        <a href="index.html" class="app_nav">Contáctenos</a>
                       </div>
                    </li>
                </ul>
            </div>
        </nav>

        <section class="app_productos">
            <div class="container">
                <div class="row app_margen">
                    <!--*************** Navegación Aside - Jhon M. *****************-->
                    <div class="col-xs-3">
                        <div class="color">
                                <ul class="list_padre">
                                    <li class="list"><p class="mi">Utiles Escolares <span class="glyphicon glyphicon-chevron-right sh"></span></p>
                                        <ul class=" list_hija">
                                            <li>Lapiceros</li>
                                            <li>Cuadernos</li>
                                            <li>Folders</li>
                                            <li>Libros</li>
                                            <li>Lapiceros</li>
                                            <li>Lapiceros</li>
                                            <li>Cuadernos</li>
                                            <li>Folders</li>
                                            <li>Libros</li>
                                        </ul>
                                    </li>
                                    <li class="list"><p class="mi">Utiles de Oficina<span class="glyphicon glyphicon-chevron-right sh"></p>
                                        <div id="Demo">
                                            <ul class=" list_hija">
                                                <li>Lapiceros</li>
                                                <li>Cuadernos</li>
                                                <li>Folders</li>
                                                <li>Libros</li>
                                                <li>Lapiceros</li>
                                                <li>Lapiceros</li>
                                                <li>Cuadernos</li>
                                                <li>Folders</li>
                                                <li>Libros</li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li class="list"><p class="mi">Regalos<span class="glyphicon glyphicon-chevron-right sh"></p>
                                        <ul class=" list_hija">
                                            <li>Lapiceros</li>
                                            <li>Cuadernos</li>
                                            <li>Folders</li>
                                            <li>Libros</li>
                                            <li>Lapiceros</li>
                                            <li>Lapiceros</li>
                                            <li>Cuadernos</li>
                                            <li>Folders</li>
                                            <li>Libros</li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                <!-- ************************************************************************ -->
                </div>
                    <div class="col-xs-9">
                        <div class="row">
                            <div class="col-xs-3">
                                <div class="img-thumbnail app_padding">
                                    <div class="app_alinear">
                                        <h5>Nombre</h5>
                                    </div>
                                    <img src="img/Producto1.png" class="img-responsive">
                                    <div class="app_alinear app_centrar">
                                        <h5>S/.20.00 </h5>
                                        <form action="">
                                            <div class="app-div1">
                                                <input type="text" name="cantidad" id="cantidad" class="app_cantidad">
                                            </div>
                                            <div class="app-div2">
                                                <input type="submit" name="agregar" id="agregar" value="Agregar" class="app_agregar">
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-3">
                                <div class="img-thumbnail app_padding">
                                    <div class="app_alinear">
                                        <h5>Nombre</h5>
                                    </div>
                                    <img src="img/Producto1.png" class="img-responsive">
                                    <div class="app_alinear app_centrar">
                                        <h5>S/.20.00 </h5>
                                        <form action="">
                                            <div class="app-div1">
                                                <input type="text" name="cantidad" id="cantidad" class="app_cantidad">
                                            </div>
                                            <div class="app-div2">
                                                <input type="submit" name="agregar" id="agregar" value="Agregar" class="app_agregar">
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-3">
                                <div class="img-thumbnail app_padding">
                                    <div class="app_alinear">
                                        <h5>Nombre</h5>
                                    </div>
                                    <img src="img/Producto1.png" class="img-responsive">
                                    <div class="app_alinear app_centrar">
                                        <h5>S/.20.00 </h5>
                                        <form action="">
                                            <div class="app-div1">
                                                <input type="text" name="cantidad" id="cantidad" class="app_cantidad">
                                            </div>
                                            <div class="app-div2">
                                                <input type="submit" name="agregar" id="agregar" value="Agregar" class="app_agregar">
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-3">
                                <div class="img-thumbnail app_padding">
                                    <div class="app_alinear">
                                        <h5>Nombre</h5>
                                    </div>
                                    <img src="img/Producto1.png" class="img-responsive">
                                    <div class="app_alinear app_centrar">
                                        <h5>S/.20.00 </h5>
                                        <form action="">
                                            <div class="app-div1">
                                                <input type="text" name="cantidad" id="cantidad" class="app_cantidad">
                                            </div>
                                            <div class="app-div2">
                                                <input type="submit" name="agregar" id="agregar" value="Agregar" class="app_agregar">
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div><br>
                        <div class="row">
                            <div class="col-xs-3">
                                <div class="img-thumbnail app_padding">
                                    <div class="app_alinear">
                                        <h5>Nombre</h5>
                                    </div>
                                    <img src="img/Producto1.png" class="img-responsive">
                                    <div class="app_alinear app_centrar">
                                        <h5>S/.20.00 </h5>
                                        <form action="">
                                            <div class="app-div1">
                                                <input type="text" name="cantidad" id="cantidad" class="app_cantidad">
                                            </div>
                                            <div class="app-div2">
                                                <input type="submit" name="agregar" id="agregar" value="Agregar" class="app_agregar">
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-3">
                                <div class="img-thumbnail app_padding">
                                    <div class="app_alinear">
                                        <h5>Nombre</h5>
                                    </div>
                                    <img src="img/Producto1.png" class="img-responsive">
                                    <div class="app_alinear app_centrar">
                                        <h5>S/.20.00 </h5>
                                        <form action="">
                                            <div class="app-div1">
                                                <input type="text" name="cantidad" id="cantidad" class="app_cantidad">
                                            </div>
                                            <div class="app-div2">
                                                <input type="submit" name="agregar" id="agregar" value="Agregar" class="app_agregar">
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-3">
                                <div class="img-thumbnail app_padding">
                                    <div class="app_alinear">
                                        <h5>Nombre</h5>
                                    </div>
                                    <img src="img/Producto1.png" class="img-responsive">
                                    <div class="app_alinear app_centrar">
                                        <h5>S/.20.00 </h5>
                                        <form action="">
                                            <div class="app-div1">
                                                <input type="text" name="cantidad" id="cantidad" class="app_cantidad">
                                            </div>
                                            <div class="app-div2">
                                                <input type="submit" name="agregar" id="agregar" value="Agregar" class="app_agregar">
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-3">
                                <div class="img-thumbnail app_padding">
                                    <div class="app_alinear">
                                        <h5>Nombre</h5>
                                    </div>
                                    <img src="img/Producto1.png" class="img-responsive">
                                    <div class="app_alinear app_centrar">
                                        <h5>S/.20.00 </h5>
                                        <form action="">
                                            <div class="app-div1">
                                                <input type="text" name="cantidad" id="cantidad" class="app_cantidad">
                                            </div>
                                            <div class="app-div2">
                                                <input type="submit" name="agregar" id="agregar" value="Agregar" class="app_agregar">
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div><br>
                        <div class="row">
                            <div class="col-xs-3">
                                <div class="img-thumbnail app_padding">
                                    <div class="app_alinear">
                                        <h5>Nombre</h5>
                                    </div>
                                    <img src="img/Producto1.png" class="img-responsive">
                                    <div class="app_alinear app_centrar">
                                        <h5>S/.20.00 </h5>
                                        <form action="">
                                            <div class="app-div1">
                                                <input type="text" name="cantidad" id="cantidad" class="app_cantidad">
                                            </div>
                                            <div class="app-div2">
                                                <input type="submit" name="agregar" id="agregar" value="Agregar" class="app_agregar">
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-3">
                                <div class="img-thumbnail app_padding">
                                    <div class="app_alinear">
                                        <h5>Nombre</h5>
                                    </div>
                                    <img src="img/Producto1.png" class="img-responsive">
                                    <div class="app_alinear app_centrar">
                                        <h5>S/.20.00 </h5>
                                        <form action="">
                                            <div class="app-div1">
                                                <input type="text" name="cantidad" id="cantidad" class="app_cantidad">
                                            </div>
                                            <div class="app-div2">
                                                <input type="submit" name="agregar" id="agregar" value="Agregar" class="app_agregar">
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-3">
                                <div class="img-thumbnail app_padding">
                                    <div class="app_alinear">
                                        <h5>Nombre</h5>
                                    </div>
                                    <img src="img/Producto1.png" class="img-responsive">
                                    <div class="app_alinear app_centrar">
                                        <h5>S/.20.00 </h5>
                                        <form action="">
                                            <div class="app-div1">
                                                <input type="text" name="cantidad" id="cantidad" class="app_cantidad">
                                            </div>
                                            <div class="app-div2">
                                                <input type="submit" name="agregar" id="agregar" value="Agregar" class="app_agregar">
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-3">
                                <div class="img-thumbnail app_padding">
                                    <div class="app_alinear">
                                        <h5>Nombre</h5>
                                    </div>
                                    <img src="img/Producto1.png" class="img-responsive">
                                    <div class="app_alinear app_centrar">
                                        <h5>S/.20.00 </h5>
                                        <form action="">
                                            <div class="app-div1">
                                                <input type="text" name="cantidad" id="cantidad" class="app_cantidad">
                                            </div>
                                            <div class="app-div2">
                                                <input type="submit" name="agregar" id="agregar" value="Agregar" class="app_agregar">
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <footer class="app_footer">
            <div class="container">
                <p>Derechos reservados @2014 Qaysen</p>
            </div>
        </footer>

        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.10.1.min.js"><\/script>')</script>

        <script src="js/main.js"></script>
    </body>
</html>
